@font-face {
    font-family: 'Gunplay 3D';
    src: url('fonts/Gunplay3D-Regular.eot');
    src: url('fonts/Gunplay3D-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gunplay3D-Regular.woff2') format('woff2'),
        url('fonts/Gunplay3D-Regular.woff') format('woff'),
        url('fonts/Gunplay3D-Regular.ttf') format('truetype'),
        url('fonts/Gunplay3D-Regular.svg#Gunplay3D-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;
    background: #898989;
}
.navbar {
   /* background: #5c5c5c;  Transparent so it overlays image */
	font-family: Courier;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
   	font-weight: bold;
   	font-size: 14px;
   	text-transform: uppercase;
   	text-decoration: none;
   	color: #ffffff;
  	padding: 20px 0px;
  	margin: 0px 20px;
   	display: inline-block;
   	position: relative;
   	opacity: 0.75;
}
.nav-link:hover {
    opacity: 1;
	color: #ffffff;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
.navbar-collapse {
    justify-content: flex-end;
	
}

.header {
    /*background-image: url('images/background-pic.jpg'); */
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
	
}
.picture-background{
	background-image: url('images/background-pic.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.description h1 {
	color: #fff;
	
}
.description p {
	color: #fff;
	font-size: 3vw;
	line-height: 1.0;
	font-family: 'Courier';
}

.description-title p {
	font-family: 'Gunplay 3D'; 
	color: #fff;
	font-size: 11vw;
	line-height: 1.0;
}

.description button {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.background {
	background: #dedec8;
	padding: 4em 0;
}
.team {
	color: #5e5e55;
	padding: 0 180px;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card {
	background:none;
	border: none;
}
.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

#demo-modal .modal-content {
    border-radius: 0;
    padding: 2rem;
}
#demo-modal .modal-header {
    border-bottom: none;
}
#demo-modal h4 {
    color: #000;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
}
#demo-modal .close {
    background: #c0c3c8;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    font-weight: normal;
    height: 30px;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 26px;
    width: 30px;
}
#demo-modal .close span {
    position: relative;
    top: -3px;
}
#demo-modal .modal-body p {
    color: #999;
}
#demo-modal .form-control,
#demo-modal .btn {
    min-height: 46px;
}
#demo-modal .btn {
    background-color: #1da098;
    border: none;
    color: #fff;
    min-width: 150px;
    transition: all 0.4s;
}
#demo-modal .btn:hover,
#demo-modal .btn:focus {
    background-color: #12968d;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}
